<ion-header>
    <ion-toolbar>
        <ion-title>payment</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="body" color="medium">
    <ion-card>
        <img src="/assets/koff.jpg">
        <p>{{top1}} </p>
        <p>{{etop1}}</p>
        <p>{{etop2}}</p>
        <p>{{etop3}}</p>


        <p>{{top2}}</p>
        <p>{{rtop4}}</p>
        <p>{{rtop5}}</p>
        <p>{{rtop6}}</p>

        <p>{{top3}}</p>
        <p>{{atop7}}</p>
        <p>{{atop8}}</p>
        <p>{{atop9}}</p>

        <p>{{top4}}</p>
        <p>{{ftop10}}</p>
        <p>{{ftop11}}</p>
        <p>{{ftop12}}</p>

        <p>{{top5}}</p>
        <p>{{Ctop113}}</p>
        <p>{{Ctop14}}</p>
        <p>{{Ctop15}}</p>

        <p>{{top6}}</p>
        <p>{{Ltop113}}</p>
        <p>{{Ltop14}}</p>
        <p>{{Ltop15}}</p>





        <p>Total Price:R{{totalprice}}</p>

    </ion-card>


    <ion-button expand="full" color="danger" (click)="paymnt()">Print</ion-button>

    <ion-button expand="full" color="danger" (click)="Back()">Back</ion-button>

</ion-content>